# Excel to Python Dataframe

In [4]:
import pandas as pd

In [248]:
scoop = pd.read_excel("IPOScoop-Dataset.xls")

In [250]:
overview = scoop[3:24]
overview = overview.drop(columns=['Unnamed: 6', 
                                  'Unnamed: 7', 
                                  'Unnamed: 8', 
                                  'Unnamed: 9', 
                                  'Unnamed: 10', 
                                  'Unnamed: 11'])
overview.rename(columns={'Unnamed: 0': 'Date', 
                         'Unnamed: 1': 'IPOs Priced',
                         'Unnamed: 2': 'Calls',
                         'IPO SCOOP Rating Scorecard': 'On Target',
                         'Unnamed: 4': 'Missed',
                         'Unnamed: 5': 'Batting Average'
                        }, inplace=True)

overview['Date'] = overview['Date'].astype('int32')
overview['IPOs Priced'] = overview['IPOs Priced'].astype('int32')
overview['Calls'] = overview['Calls'].astype('int32')
overview['On Target'] = overview['On Target'].astype('int32')
overview['Missed'] = overview['Missed'].astype('int32')
overview['Batting Average'] = overview['Batting Average'].astype('float32')
overview = overview.set_index('Date')

In [233]:
def get_data(year, start, end):
    name = scoop[start:end]
    name = name.drop(columns=['Unnamed: 11'])
    name.rename(columns={'Unnamed: 0': 'Trade Date', 
                             'Unnamed: 1': 'Company',
                             'Unnamed: 2': 'Ticker',
                             'IPO SCOOP Rating Scorecard': 'Lead/Joint-Lead Mangers',
                             'Unnamed: 4': 'Offer Price',
                             'Unnamed: 5': 'Opening Price',
                             'Unnamed: 6': '1st Day Close',
                             'Unnamed: 7': '1st Day Percent Change',
                             'Unnamed: 8': 'Change Opening',
                             'Unnamed: 9': 'Change Close',
                             'Unnamed: 10': 'Star Ratings'
                            }, inplace=True)
    name['Trade Date'] = name['Trade Date'].astype('datetime64')
    name['Company'] = name['Company'].astype(str)
    name['Ticker'] = name['Ticker'].astype(str)
    name['Lead/Joint-Lead Mangers'] = name['Lead/Joint-Lead Mangers'].str.split('/ ').astype(str)
    name['Offer Price'] = name['Offer Price'].astype('float32')
    name['Opening Price'] = name['Opening Price'].astype('float32')
    name['1st Day Close'] = name['1st Day Close'].astype('float64')
    name['1st Day Percent Change'] = name['1st Day Percent Change'].astype('float32')
    name['Change Opening'] = name['Change Opening'].astype('float32')
    name['Change Close'] = name['Change Close'].astype('float32')
    name['Year'] = year
    name = name.set_index('Ticker')
    return name

In [251]:
ipos_2020 = get_data(2020, 36, 241)
ipos_2019 = get_data(2019, 246, 467)
ipos_2018 = get_data(2018, 472, 701)
ipos_2017 = get_data(2017, 706, 887)
ipos_2016 = get_data(2016, 892, 998)
ipos_2015 = get_data(2015, 1003, 1176)
ipos_2014 = get_data(2014, 1181, 1469)
ipos_2013 = get_data(2013, 1474, 1704)
# ipos_2012 = get_data(2012, 1709, 1855)
ipos_2011 = get_data(2011, 1861, 2004)
ipos_2010 = get_data(2010, 2009, 2169)
ipos_2009 = get_data(2009, 2174, 2235)
ipos_2008 = get_data(2008, 2240, 2287)
ipos_2007 = get_data(2007, 2292, 2548)
ipos_2006 = get_data(2006, 2553, 2790)
ipos_2005 = get_data(2005, 2795, 3021)
ipos_2004 = get_data(2004, 3026, 3259)
ipos_2003 = get_data(2003, 3264, 3344)
ipos_2002 = get_data(2002, 3349, 3431)
ipos_2001 = get_data(2001, 3436, 3530)
ipos_2000 = get_data(2000, 3535, 3772)

In [252]:
frames = [ipos_2000, ipos_2001, ipos_2002, ipos_2003, ipos_2004, 
          ipos_2005, ipos_2006, ipos_2007, ipos_2008, ipos_2009, 
          ipos_2010, ipos_2011, ipos_2013, ipos_2014, 
          ipos_2015, ipos_2016, ipos_2017, ipos_2018, ipos_2019,
          ipos_2020]
ipos = pd.concat(frames)

In [5]:
ipos = pd.read_csv('scoop_ipos.csv')

In [6]:
ipos

,Ticker,Trade Date,Company,Lead/Joint-Lead Mangers,Offer Price,Opening Price,1st Day Close,1st Day Percent Change,Change Opening,Change Close,Star Ratings,Year
0,SQSW,2000-05-12,Sequoia Software,['Lehman Brothers'],8.0,10.25000,10.06250,0.257812,2.25000,2.06250,2,2000
1,UNWR,2000-05-18,US Unwired,['Donaldson Lufkin & Jenrette'],11.0,11.03125,11.06250,0.005682,0.03125,0.06250,1,2000
2,NGTC,2000-05-18,Nogatech,['W.R. Hambrecht+Co'],12.0,11.87500,9.40625,-0.216146,-0.12500,-2.59375,1,2000
3,IBEM,2000-05-18,iBEAM Broadcasting,['Morgan Stanley Dean Witter'],10.0,11.50000,14.00000,0.400000,1.50000,4.00000,2,2000
4,NUFO,2000-05-18,New Focus,['Credit Suisse First Boston'],20.0,40.00000,51.00000,1.550000,20.00000,31.00000,3,2000
...,...,...,...,...,...,...,...,...,...,...,...,...
3484,SVACU,2020-09-10,Starboard Value Acquisition,"['UBS Investment Bank', 'Stifel', 'Cowen']",10.0,10.00000,10.00000,0.000000,0.00000,0.00000,1,2020
3485,BSN.U,2020-09-11,Broadstone Acquisition,['Citigroup'],10.0,9.84000,9.60000,-0.040000,-0.16000,-0.40000,1,2020
3486,LEAP.U,2020-09-11,Ribbit LEAP,['JPMorgan'],10.0,11.20000,11.55300,0.155300,1.20000,1.55300,1,2020
3487,SNPR.U,2020-09-11,Tortoise Acquisition Corp. II,"['Barclays', 'Goldman Sachs']",10.0,10.35000,10.51000,0.051000,0.35000,0.51000,1,2020
3488,TWCTU,2020-09-11,TWC Tech Holdings II,"['Citigroup', 'Deutsche Bank Securities']",10.0,10.08000,10.07000,0.007000,0.08000,0.07000,1,2020

In [9]:
ipos["Underpriced"] = ipos["Change Close"] / ipos["Offer Price"] < 0

In [11]:
ipos.to_csv('scoop_ipos.csv')