# Collect Data from Ticker.com/IPO-Pricing

In [1]:
import pandas as pd

## get_data function
Return a pandas dataframe of the IPO data from a given year.

In [2]:
def get_data(year):
    url = 'https://ticker.com/IPO-Pricing/' + str(year) + '/'
    data = pd.read_html(url, header = 1)[0]
    data['Year'] = year
    return data

## DO NOT RUN:
- Collects all the ipo data from ticker.com and write's it into a csv file called `ticker-ipo-data.csv`. 
- We've already collected the data into a csv, so **load from the the csv file** rather than from the website.

In [30]:
# frames = [get_data(2012), get_data(2013), get_data(2014), get_data(2015),
#           get_data(2016), get_data(2017), get_data(2018), get_data(2019),
#           get_data(2020), get_data(2021), get_data(2022)]
# ipos = pd.concat(frames)
# ipos.to_csv('ticker-ipo-data.csv')

## Clean Data:

- Drop `Rank` and `Unnammed: 0` columns because they only contained NaN values
- Drop all Companys that have NaN for `Company Name`, `Ticker`, `Sector`
- Rename `Price ($)` to `Price` and `Size (M)` to `Size`
- Change the `Ticker` column to type `str` and set it as the indices
- Change `Turnover` from percentage to decimal

- Change `Gain` from percentage to decimal

In [37]:
data = pd.read_csv('ticker-ipo-data.csv')
data = data.drop(columns=['Rank', 'Unnamed: 0'])
data = data.dropna(subset=['Company Name', 'Ticker', 'Sector'])
data.rename(columns={'Price ($)': 'Price', 
                     'Size (M)': 'Size'}, inplace=True)
data['Ticker'] = data['Ticker'].astype(str)
data = data.set_index('Ticker')
data['Turnover'] = data['Turnover'].str.split('%').str[0].astype('float') / 100
data['Gain'] = data['Gain'].str.split('%').str[0].astype('float') / 100
data.to_csv('ticker-clean.csv')

## How to use Pandas Data frames:
Now that we have clean data we might want to know how to actually learn from our data

### Selecting a specific sector

In [14]:
health_care_ipos = data[data['Sector'] == 'Health Care']
health_care_ipos

,Date,Company Name,Sector,Price,Size,1,2,3,Turnover,Gain,Year
Ticker,,,,,,,,,,,
TNON,Apr 27,Tenon Medical Inc.,Health Care,5.0,3.0,BNCH,VCL,NaN,0.275,3.500,2022
HLVX,Apr 29,HilleVax Inc.,Health Care,17.0,11.0,JPM,SVB,Stifel,0.199,0.123,2022
BLTE,Apr 29,Belite Bio Inc.,Health Care,6.0,6.0,BNCH,NaN,NaN,0.571,0.765,2022
BLCO,May 6,Bausch + Lomb Corp.,Health Care,18.0,35.0,MS,GS,CITI,0.428,0.111,2022
OKYO,May 17,"OKYO Pharma, Ltd.",Health Care,4.0,0.0,TEq,NaN,NaN,3.469,-0.095,2022
BGXX,May 17,Bright Green Corp.,Health Care,16.0,158.0,EF,NaN,NaN,0.002,0.579,2022
VRAX,Jul 21,Virax Biolabs Group Limited,Health Care,5.0,1.0,BOTD,NaN,NaN,0.357,2.640,2022
MAIA,Jul 28,"MAIA Biotechnology, Inc.",Health Care,5.0,2.0,TEq,NaN,NaN,0.774,-0.108,2022
PXMD,Aug 26,"PaxMedica, Inc.",Health Care,5.3,1.0,NaN,RFL,NaN,5.271,-0.065,2022
THRD,Sep 15,"Third Harmonic Bio, Inc.",Health Care,17.0,10.0,MS,JEFF,COWN,0.192,0.158,2022
KNW,Sep 16,"Know Labs, Inc.",Health Care,2.0,3.0,BOTD,NaN,NaN,2.956,0.050,2022
PRME,Oct 20,"Prime Medicine, Inc.",Health Care,17.0,10.0,JPM,GS,MS,0.270,-0.096,2022

### Selecting a specifc Year

In [18]:
ipos_2015 = data[data['Year'] == 2015]
ipos_2015

,Date,Company Name,Sector,Price,Size,1,2,3,Turnover,Gain,Year
Ticker,,,,,,,,,,,
YRD,Dec 18,Yirendai Ltd.,Finance,10.0,7,CRNS,CS,MS,0.716,-0.090,2015
TEAM,Dec 10,Atlassian Corporation Plc,Technology,21.0,22,GS,MS,NaN,0.682,0.323,2015
DLTH,Nov 20,Duluth Holdings Inc.,Consumer-Services,12.0,6,BMO,RAYJ,WB,0.501,0.138,2015
AXSM,Nov 19,Axsome Therapeutics Inc.,Health-Care,9.0,5,LDNT,NaN,NaN,0.094,-0.029,2015
MTCH,Nov 19,Match Group Inc.,Technology,12.0,33,ALLN,BAML,JPM,0.807,0.228,2015
...,...,...,...,...,...,...,...,...,...,...,...
TCON,Jan 30,TRACON Pharmaceuticals Inc.,Health-Care,10.0,3,Stifel,WLFG,NaN,0.355,-0.060,2015
AVGR,Jan 30,Avinger Inc.,Health-Care,13.0,5,CNCD,COWN,NaN,0.014,40.538,2015
SHAK,Jan 30,Shake Shack Inc.,Consumer Services,13.0,5,JPM,MS,NaN,3.253,2.531,2015
ASND,Jan 28,Ascendis Pharma A/S,Health-Care,18.0,6,BAML,LRNK,NaN,0.585,0.046,2015
BOX,Jan 23,Box Inc.,Technology,14.0,12,CS,JPM,MS,3.405,0.659,2015

### describe()
Provides a quick summary of numerical data.

For example, the highest single day gain was 13026.8%.

In [43]:
data['Gain'].describe()

count    1446.000000
mean        0.478847
std         3.910140
min        -1.000000
25%        -0.001000
50%         0.088000
75%         0.321750
max       130.268000
Name: Gain, dtype: float64

### How to find that IPO
What if we want to find that stock

In [59]:
data[data['Gain'] == data['Gain'].max()]

,Date,Company Name,Sector,Price,Size,1,2,3,Turnover,Gain,Year
Ticker,,,,,,,,,,,
ATXG,Aug 31,Addentax Group Corp.,Basic Industries,5.0,5.0,NONE,NaN,NaN,0.103,130.268,2022

### Sorting by Column
ascending = False goes from largest to smallest.

In [60]:
data.sort_values('Price', ascending = False)

,Date,Company Name,Sector,Price,Size,1,2,3,Turnover,Gain,Year
Ticker,,,,,,,,,,,
COIN,Apr 14,Coinbase Global Inc.,Finance,381.0,114.0,GS,JPM,ALLN,0.706,-0.138,2021
SPOT,Apr 3,Spotify Technology S.A.,Consumer-Services,165.9,55,NaN,NaN,NaN,0.548,-0.102,2018
MNDY,Jun 10,monday.com Ltd.,Technology,155.0,3.0,GS,JPM,JEFF,0.643,0.154,2021
DUOL,Jul 28,Duolingo Inc.,Technology,102.0,5.0,GS,ALLN,NaN,0.566,0.316,2021
DASH,Dec 9,DoorDash Inc.,Finance,102.0,33,GS,JPM,NaN,0.769,0.858,2020
...,...,...,...,...,...,...,...,...,...,...,...
CTM,Oct 13,"Castellum, Inc.",Miscellaneous,2.0,1.0,EF,NaN,NaN,1.093,-0.400,2022
DTSS,Jun 4,Datasea Inc.,Technology,0.0,9,VWTR,NaN,NaN,0.000,39.000,2016
DNAY,Jun 18,Codex DNA Inc.,Health-Care,0.0,6.0,JEFF,COWN,KEYB,0.556,0.000,2021
BASE,Jul 22,Couchbase Inc.,Technology,0.0,NaN,MS,GS,NaN,0.000,0.000,2021
GAMB,Jul 23,Gambling.com Group Limited,Consumer-Services,0.0,NaN,JEFF,Stifel,TS,0.000,0.000,2021