# Data to Dataframe

In [1]:
import pandas as pd

In [3]:
scoop = pd.read_excel("IPOScoop-Dataset.xls")

In [188]:
overview = scoop[3:24]
overview = overview.drop(columns=['Unnamed: 6', 
                                  'Unnamed: 7', 
                                  'Unnamed: 8', 
                                  'Unnamed: 9', 
                                  'Unnamed: 10', 
                                  'Unnamed: 11'])
overview.rename(columns={'Unnamed: 0': 'Date', 
                         'Unnamed: 1': 'IPOs Priced',
                         'Unnamed: 2': 'Calls',
                         'IPO SCOOP Rating Scorecard': 'On Target',
                         'Unnamed: 4': 'Missed',
                         'Unnamed: 5': 'Batting Average'
                        }, inplace=True)

overview['Date'] = overview['Date'].astype('int32')
overview['IPOs Priced'] = overview['IPOs Priced'].astype('int32')
overview['Calls'] = overview['Calls'].astype('int32')
overview['On Target'] = overview['On Target'].astype('int32')
overview['Missed'] = overview['Missed'].astype('int32')
overview['Batting Average'] = overview['Batting Average'].astype('float32')
overview = overview.set_index('Date')
overview

      IPOs Priced  Calls  On Target  Missed  Batting Average
Date
2020          205    198        180      18         0.909091
2019          231    207        186      21         0.898551
2018          228    223        191      32         0.856502
2017          186    182        157      25         0.862637
2016          107    106         97       9         0.915094
2015          173    173        157      16         0.907514
2014          261    261        234      27         0.896552
2013          230    230        209      21         0.908696
2012          146    146        134      12         0.917808
2011          143    143        130      13         0.909091
2010          165    160        142      18         0.887500
2009           63     61         50      11         0.819672
2008           50     47         43       4         0.914894
2007          279    256        230      26         0.898438
2006          240    237        212      25         0.894515
2005          236    226        198      28         0.876106
2004          249    232        201      31         0.866379
2003           84     80         70      10         0.875000
2002           85     83         70      13         0.843373
2001           96     94         78      16         0.829787
2000          256    237        210      27         0.886076

In [233]:
def get_data(year, start, end):
    name = scoop[start:end]
    name = name.drop(columns=['Unnamed: 11'])
    name.rename(columns={'Unnamed: 0': 'Trade Date', 
                             'Unnamed: 1': 'Company',
                             'Unnamed: 2': 'Ticker',
                             'IPO SCOOP Rating Scorecard': 'Lead/Joint-Lead Mangers',
                             'Unnamed: 4': 'Offer Price',
                             'Unnamed: 5': 'Opening Price',
                             'Unnamed: 6': '1st Day Close',
                             'Unnamed: 7': '1st Day Percent Change',
                             'Unnamed: 8': 'Change Opening',
                             'Unnamed: 9': 'Change Close',
                             'Unnamed: 10': 'Star Ratings'
                            }, inplace=True)
    name['Trade Date'] = name['Trade Date'].astype('datetime64')
    name['Company'] = name['Company'].astype(str)
    name['Ticker'] = name['Ticker'].astype(str)
    name['Lead/Joint-Lead Mangers'] = name['Lead/Joint-Lead Mangers'].str.split('/ ').astype(str)
    name['Offer Price'] = name['Offer Price'].astype('float32')
    name['Opening Price'] = name['Opening Price'].astype('float32')
    name['1st Day Close'] = name['1st Day Close'].astype('float64')
    name['1st Day Percent Change'] = name['1st Day Percent Change'].astype('float32')
    name['Change Opening'] = name['Change Opening'].astype('float32')
    name['Change Close'] = name['Change Close'].astype('float32')
    name['Year'] = year
    name = name.set_index('Ticker')
    return name

In [237]:
ipos_2020 = get_data(2020, 36, 241)
ipos_2019 = get_data(2019, 246, 467)
ipos_2018 = get_data(2018, 472, 701)
ipos_2017 = get_data(2017, 706, 887)
ipos_2016 = get_data(2016, 892, 998)
ipos_2015 = get_data(2015, 1003, 1176)
ipos_2014 = get_data(2014, 1181, 1469)
ipos_2013 = get_data(2013, 1474, 1704)
# ipos_2012 = get_data(2012, 1709, 1855)
ipos_2011 = get_data(2011, 1861, 2004)
ipos_2010 = get_data(2010, 2009, 2169)
ipos_2009 = get_data(2009, 2174, 2235)
ipos_2008 = get_data(2008, 2240, 2287)
ipos_2007 = get_data(2007, 2292, 2548)
ipos_2006 = get_data(2006, 2553, 2790)
ipos_2005 = get_data(2005, 2795, 3021)
ipos_2004 = get_data(2004, 3026, 3259)
ipos_2003 = get_data(2003, 3264, 3344)
ipos_2002 = get_data(2002, 3349, 3431)
ipos_2001 = get_data(2001, 3436, 3530)
ipos_2000 = get_data(2000, 3535, 3772)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 120-11-01 00:00:00

In [236]:
frames = [ipos_2000, ipos_2001, ipos_2002, ipos_2003, ipos_2004, 
          ipos_2005, ipos_2006, ipos_2007, ipos_2008, ipos_2009, 
          ipos_2010, ipos_2011, ipos_2012, ipos_2013, ipos_2014, 
          ipos_2015, ipos_2016, ipos_2017, ipos_2018, ipos_2019,
          ipos_2020]
ipos = pd.concat(frames)

,Trade Date,Company,Lead/Joint-Lead Mangers,Offer Price,Opening Price,1st Day Close,1st Day Percent Change,Change Opening,Change Close,Star Ratings,Year
Ticker,,,,,,,,,,,
IMAB,2020-01-17,I-Mab,"['Jefferies', 'CICC']",14.0,14.75,12.750,-0.089286,0.75,-1.250,2,2020.0
LIZI,2020-01-17,LIZHI,"['Credit Suisse', 'Citigroup']",11.0,11.03,11.630,0.057273,0.03,0.630,1,2020.0
DNK,2020-01-17,Phoenix Tree Holdings Ltd.,"['Citigroup', 'Credit Suisse', 'J.P. Morgan']",13.5,13.50,13.500,0.000000,0.00,0.000,1,2020.0
VEL,2020-01-17,Velocity Financial,"['Wells Fargo Securities', 'Citigroup', 'JMP S...",13.0,13.85,13.510,0.039231,0.85,0.510,1,2020.0
GHIVU,2020-01-24,Gores Holdings IV,['Deutsche Bank Securities'],10.0,10.52,10.450,0.045000,0.52,0.450,1,2020.0
...,...,...,...,...,...,...,...,...,...,...,...
SVACU,2020-09-10,Starboard Value Acquisition,"['UBS Investment Bank', 'Stifel', 'Cowen']",10.0,10.00,10.000,0.000000,0.00,0.000,1,2020.0
BSN.U,2020-09-11,Broadstone Acquisition,['Citigroup'],10.0,9.84,9.600,-0.040000,-0.16,-0.400,1,2020.0
LEAP.U,2020-09-11,Ribbit LEAP,['JPMorgan'],10.0,11.20,11.553,0.155300,1.20,1.553,1,2020.0
SNPR.U,2020-09-11,Tortoise Acquisition Corp. II,"['Barclays', 'Goldman Sachs']",10.0,10.35,10.510,0.051000,0.35,0.510,1,2020.0
TWCTU,2020-09-11,TWC Tech Holdings II,"['Citigroup', 'Deutsche Bank Securities']",10.0,10.08,10.070,0.007000,0.08,0.070,1,2020.0